html {
  overflow: hidden;
}

#cursor {
  background-color: white;
  width: 2.5vh;
  height: 2.5vh;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100%;
  z-index: 10000000;
  border: rgba(255, 255, 255, 1) 1px solid;
  mix-blend-mode: difference;
  pointer-events: none;
}

.toMainContentR {
  animation: toMainR 0.5s ease-in-out forwards,
    pouding 4s 0.5s ease-in-out infinite;
}
.toMainContent {
  animation: toMainR 0.5s ease-in-out forwards,
    pouding 4s 0.5s ease-in-out infinite;
}
.toMainContentL {
  animation: toMainL 0.5s ease-in-out forwards,
    pouding 4s 0.5s ease-in-out infinite;
}

.toMainOutContent {
  animation: toMainOutR 0.5s ease-in-out forwards;
}
.toMainOutContentL {
  animation: toMainOutL 0.5s ease-in-out forwards;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("../media/opass.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: none;
}

.background {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.background_img {
  width: 100%;
  height: 100%;
}

.button_menu {
  position: absolute;
  top: 1vh;
  left: 1vh;
  cursor: none;
  z-index: 9999;
}
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 9999999999;
}

.disable-selection {
  -webkit-touch-callout: none; /* iOS Safari                         */
  -webkit-user-select: none; /* Safari                             */
  -khtml-user-select: none; /* Konqueror HTML                     */
  -moz-user-select: none; /* Firefox in the past (old versions) */
  -ms-user-select: none; /* Internet Explorer (>=10) / Edge    */
  user-select: none; /* Currently supported:               */
  /* Chrome, Opera and Firefox          */
}

.button_menu:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.button_menu_table {
  background-color: white;
  width: 40px;
  height: 5px;
  margin: 5px;
  transition: 0.3s ease-in;
}

.menu,
.menuToggled {
  background-color: rgba(0, 0, 0, 0.75);
  width: 35%;
  max-width: 40vh;
  height: 100%;
  transition: 0.5s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-35vw);
  z-index: 999;
}

.menuToggled {
  transform: translateX(0);
  z-index: 1000;
}

.table_1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.table_2 {
  opacity: 0;
  transition: 0.3s ease-in;
}

.table_3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

#list {
  width: 20vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: inline-flex;
  bottom: 10%;
  font-size: 3vh;
  justify-content: space-evenly;
}

.dot {
  background-color: gray;
  transition: 0.3s ease;
  border-radius: 100%;
  width: 1vh;
  height: 1vh;
}

.selectedDot {
  transform: scale(1.5);
  transition: 0.3s ease;
  background-color: white !important;
}

.social,
.contact,
.examples,
.first_contant {
  width: 75%;
  max-width: 120vh;
  height: 70vh;
  top: 12vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-200vw, 0);
  align-items: center;
  justify-items: center;
  text-align: center;
  box-shadow: 1vh 1vh 0px 0px rgb(0 0 0 / 30%);
}

.examples > h1,
.first_contant > h1,
.contact > h1,
.social > h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4vh;
  transition: 0.3s ease;
}

.social > h1 {
  grid-column: 1/6;
  grid-row: 1/2;
}
#social {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.social > hr {
  grid-column: 1/6;
  grid-row: 2/3;
}

.social > a > img {
  width: 18vh;
  height: 18vh;
  max-width: 10vw;
  max-height: 10vw;
  display: inline-block;
  margin-top: 0%;
  transition: 0.3s;
  color: orange;
  text-align: center;
}

.social > a > img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.contact > h1:hover + hr,
.examples > h1:hover + hr,
.first_contant > h1:hover + hr,
.social > h1:hover + hr {
  transform: scaleX(1.5);
  transition: 0.3s ease-in-out;
}

.first_contant > p {
  margin-top: 4vh !important;
  color: white;
  margin: 10vh;
  font-size: 1.7vh;
  line-height: 3vh;
  font-family: "Jost", sans-serif;
}

.fotter {
  position: fixed;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 16px;
  background: transparent;
  width: 100%;
}

#transp {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.transp {
  animation: show2 1s forwards;
  z-index: -5;
  opacity: 0;
}

.transp_toggled {
  animation: show 1s forwards;
  z-index: 100;
}

.menu_content {
  margin: 0;
  padding: 0;
}

.logo_menu > img {
  width: 100%;
  height: 100%;
  animation: roling 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.logo_menu {
  width: 10vh;
  height: 10vh;

  margin: auto;
}

.btn_menu {
  width: 100%;
  height: 15vh;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 24px;
  transition: 0.3s;
  outline: 0;
  cursor: none;
}

.btn_menu:hover {
  background-color: rgb(43, 43, 43);
  font-size: 30px;
  transition: 0.3s;
}

.twr_movie {
  width: 24vh;
  height: 15vh;
  background-color: black;
  display: inline-block;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 4%;
  transition: 0.3s;
  cursor: none;
}

hr {
  transition: 0.3s ease-in-out;
  width: 50%;
}
iframe {
  cursor: none;
}
iframe:hover {
  cursor: none;
}

form {
  padding: 5vh;
}

.social > a {
  cursor: none;
}

.examples > p {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-family: "Jost", sans-serif;
}

#examples > p > a {
  cursor: none;
}

#form_btn {
  border: 0;
  background-color: transparent;
  width: 12vw;
  height: 4vw;
  color: white;
  font-size: 2vh;
  cursor: none;
}

#form_btn:hover {
  animation: rotateL 0.3s;
  transform: scale(1.1);
  transition: 0.2s;
  cursor: none;
}

.label_1 {
  color: white;
  font-size: 2.5vh;
  cursor: none;
}

#text_1,
#text_2,
#text_3 {
  max-width: 50vh;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: gray;
  border-radius: 0px;
  font-size: 2vh;
  outline: 0;
  border-radius: 0;
  transition: 0.3s;
  cursor: none;
}

#text_3 {
  width: 40vw;
  height: 22vh;
  resize: none;
  padding: 2vh;
}

#text_1:hover,
#text_2:hover,
#text_3:hover {
  cursor: none;
}

#text_1:focus,
#text_2:focus,
#text_3:focus {
  transform: scale(1);
  transition: 0.3s;
  border-bottom: 1px solid #1976d2;
  caret-color: #1976d2;
  color: white;
}

/* iframe {
  pointer-events: none;
} */
@media screen and (orientation: portrait) {
  .first_contant > p {
    margin-top: 4vh !important;
    font-size: 1vh;
    line-height: 1.5vh;
  }
}
