html {
  overflow: hidden;
}

#cursor {
  display: none;
}

.toMainContentR {
  animation: toMainL 0.5s ease-in-out forwards !important;
}
.toMainContent {
  animation: toMainL 0.5s ease-in-out forwards !important;
}
.toMainContentL {
  animation: toMainR 0.5s ease-in-out forwards !important;
}
.toMainOutContent {
  animation: toMainOutL 0.5s ease-in-out forwards;
}
.toMainOutContentL {
  animation: toMainOutR 0.5s ease-in-out forwards;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../media/opass.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: none;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.background_img {
  width: 100%;
  height: 100%;
  display: none;
}

.button_menu {
  position: absolute;
  top: 1vh;
  left: 1vh;
  cursor: none;
  z-index: 9999;
}
div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index: 9999999999;
}

.disable-selection {
  -webkit-touch-callout: none; /* iOS Safari                         */
  -webkit-user-select: none; /* Safari                             */
  -khtml-user-select: none; /* Konqueror HTML                     */
  -moz-user-select: none; /* Firefox in the past (old versions) */
  -ms-user-select: none; /* Internet Explorer (>=10) / Edge    */
  user-select: none; /* Currently supported:               */
  /* Chrome, Opera and Firefox          */
}

.button_menu:focus {
  transform: scale(1.1);
  transition: 0.3s;
}

.button_menu_table {
  background-color: white;
  width: 40px;
  height: 5px;
  margin: 5px;
  transition: 0.3s ease-in;
}

.menu,
.menuToggled {
  background-color: rgba(0, 0, 0, 0.75);
  width: 35%;
  max-width: 40vh;
  height: 100%;
  transition: 0.5s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-35vw);
  z-index: 999;
}
.menu {
  transform: translateX(-100vw);
  width: 100vw;
}

.menuToggled {
  width: 100vw;
  transform: translateX(0);
  max-width: 100vw;
  z-index: 1000;
}

.table_1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.table_2 {
  opacity: 0;
  transition: 0.3s ease-in;
}

.table_3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

#list {
  width: 20vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: inline-flex;
  bottom: 10%;
  font-size: 3vh;
  justify-content: space-evenly;
}

.dot {
  background-color: gray;
  transition: 0.3s ease;
  border-radius: 100%;
  width: 1vh;
  height: 1vh;
}

.selectedDot {
  transform: scale(1.5);
  transition: 0.3s ease;
  background-color: white !important;
}

.social,
.contact,
.examples,
.first_contant {
  width: 75%;
  max-width: 120vh;
  height: 70vh;
  top: 12vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-200vw, 0);
  align-items: center;
  justify-items: center;
  text-align: center;
  box-shadow: 1vh 1vh 0px 0px rgb(0 0 0 / 30%);
}

.examples {
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 0;
  cursor: none;
}
.contact {
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 0;
}

.examples > h1,
.first_contant > h1,
.contact > h1,
.social > h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4vh;
  transition: 0.3s ease;
}

.first_contant {
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: 0;
}

.first_contant > h1 {
  padding-left: 0;
}

.social > h1 {
  padding-top: 2vh;
  grid-column: 1/4;
  grid-row: 1/3;
}
#social {
  top: 0;
  padding-top: 2vh;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr 3fr 3fr 3fr 4fr;
  grid-template-columns: repeat(3, 1fr);
}

.social > hr {
  grid-column: 1/4;
  grid-row: 3/4;
}

.social > a > img {
  width: 18vh;
  height: 18vh;
  max-width: 16vw;
  max-height: 16vw;
  display: inline-block;
  margin-top: 0%;
  transition: 0.3s;
  color: orange;
  text-align: center;
}

.social > a > img:hover {
  transform: scale(1);
  transition: 0;
  cursor: none;
}

.first_contant > p {
  font-family: "Jost", sans-serif;
  margin-top: 5% !important;
  color: white;
  margin: 8%;
  font-size: 1.5vh;
  line-height: 3vh;
}

.fotter {
  position: fixed;
  bottom: 0;
  margin: auto;
  background: transparent;
  text-align: right;
  color: white;
  font-size: 1.8vh;
  width: 80vw;
  padding: 0;
  cursor: none;
}
.fotter > p {
  cursor: none;
}

.fotterShow {
  animation: show 1s, toMainL 1s;
  text-align: center;
}
.fotterHide {
  animation: toMainOutR 1s forwards;
  text-align: center;
}

#transp {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.transp {
  animation: show2 1s forwards;
  z-index: -5;
  opacity: 0;
}

.transp_toggled {
  width: 100vw;
  height: 94vh;
  background-color: rgba(93, 88, 88, 0.77);
  opacity: 1;
  transition: 1s;
  position: absolute;
  animation: show 1s forwards;
  z-index: 100;
}

.menu_content {
  margin: 0;
  padding: 0;
}

.logo_menu > img {
  width: 100%;
  height: 100%;
  animation: roling 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.logo_menu {
  width: 10vh;
  height: 10vh;

  margin: auto;
}

.btn_menu {
  width: 100%;
  height: 15vh;
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 24px;
  transition: 0.3s;
  outline: 0;
  cursor: none;
}

.btn_menu:hover {
  background-color: rgb(43, 43, 43);
  transform: scale(1.2);
  transition: 0.3s;
}

.twr_movie {
  background-color: black;
  display: inline-block;
  transition: 0.3s;
  cursor: none;
  margin: 2vh;
  width: 35vw;
  height: 13vh;
  cursor: none;
}

hr {
  transition: 0.3s ease-in-out;
  width: 50%;
}
form {
  padding: 5vh;
}

.social > a {
  cursor: none;
}

.examples > p {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2vh;
  line-height: 2vh;
  font-family: "Jost", sans-serif;
}

#examples > p > a {
  cursor: none;
}

#form_btn {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 2vh;
  cursor: none;
  width: 40vw;
  height: 13vw;
  transition: 0.3s;
  font-size: 2vh;
}

#form_btn:focus {
  animation: rotateL 0.3s;
  transform: scale(1.1);
  transition: 0.2s;
  cursor: none;
}

.label_1 {
  color: white;
  font-size: 2.5vh;
  cursor: none;
}

#text_1,
#text_2,
#text_3 {
  outline: 0;
  transition: 0.3s;
  width: 80vw;
  max-width: 50vh;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: gray;
  border-radius: 0px;
  font-size: 2vh;
  border-radius: 0;
  cursor: none;
}

#text_3 {
  height: 22vh;
  resize: none;
  padding: 2vh;
}

#text_1:focus,
#text_2:focus,
#text_3:focus {
  transform: scale(1);
  transition: 0.3s;
  border-bottom: 1px solid #1976d2;
  caret-color: #1976d2;
  color: white;
}

/* iframe {
  pointer-events: none;
} */
